//COLORES DE LA PAGINA
$primary-color: #d4ac0d;
$secondary-color: #f1c40f;
$tertiary-color: #f7dc6f;
$quaternary-color: #808b96;
$quinary-color: #373736;
$sextiary-color: #000000;
//TIPO DE LETRA
$fontFamily: Arial, Helvetica, sans-serif;
$fontSize: 10px;